[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-training-resources"]
	path = packages/nomad-training-resources
	url = https://github.com/FAIRmat-NFDI/nomad-training-resources.git
[submodule "packages/fairmat-events-form"]
	path = packages/fairmat-events-form
	url = https://github.com/FAIRmat-NFDI/fairmat-events-form.git
[submodule "packages/fairmat-onboarding"]
	path = packages/fairmat-onboarding
	url = https://github.com/FAIRmat-NFDI/fairmat_onboarding.git
